.tabs {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: -1px;
  padding: 0 20px;

  &__line {
    border-style: none;
    height: 1px;
    align-self: end;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);

    &--left {
      flex-grow: 0;
      width: 50px;
    }
  }

  &__tab {
    color: grey;
    cursor: pointer;
    font-size: 20px;
    background: none;
    min-width: 100px;
    padding: 5px 20px 0;
    border: 1px solid grey;
    border-bottom-color: white;

    &:disabled {
      color: black;
      border: 1px solid rgb(255, 255, 255);
      cursor: not-allowed;
      border-top-right-radius: 3px;
      border-bottom: transparent;
    }

    &--all {
      border-top-left-radius: 3px;
    }

    &--filterBy {
      margin-left: -1px;
    }
  }
}
